@lost flexbox flex;

.splash {
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;

  .container {
    lost-column: 1/1;
    text-align: center;
  }
}
