@import '~normalize.css/normalize.css';
@import '~assets/styles/variables';
@import '~assets/styles/mixins';
@import '~assets/styles/placeholders';

// using :root will not work with the browser mixin
body {
  position: relative;
  font-size: $font-size;
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
  color: $color;

  @include device("Mobile") {
    font-size: calc(#{$font-size} * 0.85);
  }

  @each $header in $headers {
    $i:             index($headers, $header);
    $header-scaler: nth($headers-scaler, $i);

    #{$header} {
      font-size:     calc(#{$font-size} * (#{scaler} * #{$header-scaler}));
      margin-top:    calc(#{$scaler} * #{$header-scaler});
      margin-bottom: calc(#{$scaler} * #{$header-scaler});
    }
  }

  .material-icons {
    font-size: $font-size * 1.5;
    line-height: $font-size * 2;
  }
}
